In [ ]:
#Query the sport and distinct number of athletes
SELECT 
    sport, 
    Count(DISTINCT athlete_id) AS athletes
FROM summer_games
GROUP BY sport
#Only include the 3 sports with the most athletes
ORDER BY athletes
LIMIT 3;

In [ ]:
#Query sport, events, and athletes from summer_games
SELECT 
    sport, 
    COUNT(DISTINCT event) AS events, 
    COUNT(DISTINCT athlete_id) AS athletes
FROM summer_games
GROUP BY sport;

In [ ]:
#Select the age of the oldest athlete for each region
SELECT 
	region, 
    MAX(age) AS age_of_oldest_athlete
FROM athletes AS A
-- First JOIN statement
JOIN summer_games AS S  
ON A.id = S.athlete_id
-- Second JOIN statement
JOIN countries AS C
ON S.country_id = C.id